---
---

/*global style features across the entire website*/
:root
{
	--light_blue:#a8d0e6;
	--paynes_gray:#546a7b;
	--pale_pink: #f1d1d6;
	--coral: #f88379;
	--light_light_blue: #e8f4f8;
}
/* listing posts*/
#post_link
{
	/*color:var(--coral);*/
	color: var(--paynes_gray);
	text-decoration: none;
}
.list_posts
{
	list-style-type: none;
	padding: 10px;
	margin-top: 0px
}
.border_2px
{
	border: 2px;
	border-color: var(--coral);
	border-style: solid;
}
// .list_box //take up whole width for thought blog posts
// {
// 	background: var(--light_light_blue);
// 	margin-bottom: 2px;
// 	padding: 12px 5px;
// }
.list_item
{
	padding: 5px;
}
.list_item_food
{
	// background: var(--light_light_blue);
	// margin-bottom: 2px;
	// padding: 12px 5px;
	max-width: 400px
}
.list_item_date
{
	align-self: right;
}
.date_text
{
	text-align: right;
}
.title_text
{
	transition: transform 0.3s;
	margin-left: 20px;
	margin-right: 10px
}
.list_item_food:hover .title_text
{
	transform: scale(1.1);
}