---
---

/*global style features across the entire website*/
:root
{
	--light_blue:#a8d0e6;
	--paynes_gray:#546a7b;
	--pale_pink: #f1d1d6;
	--coral: #f88379;
	--light_light_blue: #e8f4f8;
}
/* listing posts*/
#post_link
{
	/*color:var(--coral);*/
	color: #000000;
	text-decoration: none;
}
.list_posts
{
	list-style-type: none;
	padding: 15px;
	margin-top: 0px
}
.border_2px
{
	border: 2px;
	border-color: var(--coral);
	border-style: solid;
}
.list_box //take up whole width for thought blog posts
{
	background-color: rgba(255,255,255,0.45);
	margin: 2px;
	border-color: var(--secondary_accent);
	border-style: solid;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 12px 12px;
	box-shadow: 5px 5px 15px var(--secondary_accent);
}
.list_item
{
	padding: 10px;

}
.list_item_title
{
	font-size: 20px;
	transition: transform 0.3s;
}
.list_item_date
{
	align-self: left;

}
.list_meta
{
	text-align: left;
	font-size: 16px;
	margin-left: 30px;
	margin-right: 10px
}
.title_text
{
	
	margin-left: 20px;
	margin-right: 10px
}
.list_box:hover .list_item_title 
{
	transform: scale(1.08);
}