---
---

#projects_list
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.project
{
	position: relative;
	width: 250px;
	height: 250px;
	margin: 5px;
	padding: 15px;
	text-decoration: none;
	color: #000000;
	/*
	border-style:solid;
	border-width: 2px;
	border-color: black;
	*/
}


.proj_img
{
	border-radius: 10px;
	opacity: 1;
	transition: transform .3s ease;
}

.project:hover .proj_img
{
	webkit-filter: blur(1px); 
    filter: blur(1px);
    opacity: 0.37;
    transform: scale(1.1);

}

.fade_in_text
{
	opacity: 0;
	transition: .3s ease;
}
.project:hover .fade_in_text
{
	opacity: 1;
	transition: .3s ease;
}
.proj_title_div
{
	position: absolute;
	top: 33%;
	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
  	width: 90%;
}

.proj_title_text
{
	font-size: 20px;
	text-align: center;
}

.proj_details
{
	position: absolute;
	top: 66%;
	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	width: 90%;
}
.proj_row_div
{
	position: relative;
	margin-bottom: 5px;
}
.proj_row_div i
{
	font-size:30px;
	color: #000000;
	margin: auto;
	padding: auto;

}

.col_icon
{
	flex:30%;
	text-align: center;
	vertical-align: middle
	/*margin:10px;
	max-width: 200px;*/
}
.col_text
{
	flex:70%;
	vertical-align: middle;
	position: relative;
	/*margin:10px;
	max-width: 600px;*/
}
.location
{
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
	margin: 0px;
}