/*
Color Scheme:
	Morning Sky: #cae4db
	Honey: #dcae1d
	Cerulean: #00303f
	Mist: #7a9d96

	Dark Gunmetal: #0d1f2d
	Payne's Gray: #546a7b
	Cadet Gray: #9fa3b0
	Pink:#f1d1d6
	Coral: ##f88379
	Desert Sand: #e4c3ad
	Coral: #f76c6c
	Light Blue:#a8d0e6
	Navy:#24305e
*/


footer
{
	margin: 30px;
	font-size: 14px;
}

/*Classes*/
.column
{
	flex:50%;
	padding:10px;
	max-width: 400px;
}

.images
{
	display:flex;
	margin-left: auto;
	margin-right: auto;
}



/* IDs */
/*
#aboutMe
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #82a3d8;

}
*/
#intro
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*background-color: #82a3d8;*/
	align-content: center;
	max-width: 100%;
}
#robotics
{
	height: 500px;
	width: 500px;
	object-fit: cover;
	align-self: center;
}

#contactMe
{
	background-color: #f1d1d6;
	padding: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

#contactMethod
{
	text-decoration: none;
}

#contactList
{
	display: block !important;
}


#pic
{
	height: 90%;
	width: 90%;
	object-fit: cover; /*crops to correct size*/
	transform: rotate(90deg);
	justify-content: center;
	align-items: center;
	display: flex;
}

#profile-image
{
	display:block;
	border-color: #f88379;
	border-width: 3px;
	max-width: 95%;
	height: auto;
	object-fit: cover;	
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	border-radius: 	10px;
}