/*
Color Scheme:
	Morning Sky: #cae4db
	Honey: #dcae1d
	Cerulean: #00303f
	Mist: #7a9d96

	Dark Gunmetal: #0d1f2d
	Payne's Gray: #546a7b
	Cadet Gray: #9fa3b0
	Pink:#f1d1d6
	Coral: ##f88379
	Desert Sand: #e4c3ad
	Coral: #f76c6c
	Light Blue:#a8d0e6
	Navy:#24305e
*/

p
{
	font-size: 16px;
	margin: 16px;
}

body
{
	font-family: 'Merriweather', serif;
	width:100%;
	height:100%;
	background-color:#a8d0e6;
	/*background-color: #fae1df*/
	/*b2dfee light blue*/

}

footer
{
	margin: 30px;
	font-size: 14px;
}

/*Navigation bar*/
ul
{
	list-style-type: none;
	display: flex;
	padding: 15px;
	margin:0px;
	/*position: fixed;
	float: left; */
	/*top: -15px;*/
	width: 100%;
	

}

li a:hover, .active /*the comma is like an or*/
{
	background-color: #cae4db;
	color: #24305e;
}
li a
{
	flex-direction: row;
	padding: 15px; /*spaces out the elements*/
	color: #f1d1d6;
	text-decoration: none; /*get rid of underline*/
}
.icon
{
	display: none;
	position: absolute;
	right: 0;
	top: 0;
}
#links
{
	display: flex;
}

@media screen and (min-width: 551px)
{
	#links
	{
		display: flex !important;
	}
}

 @media screen and (max-width: 550px)
{
	
	ul
	{
		float: none;
		display: block;
		width: 100%;
		/*
		padding-bottom: 25px;
		padding-top:0px;
		padding-left:0px;
		height:35px;*/
		padding:0px;
		min-height:50px;
	}
	

	
	#links
	{
		display: none;
	}
	.icon
	{
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
		color: #f1d1d6;
		padding-right:10px;
		padding-left: 10px;
		padding-bottom: 3px;
	}
	/*)
	.fa-bars
	{
		color: #f1d1d6;
		padding-right:10px;
		padding-left: 10px;
		padding-bottom: 3px;
	}
	.fa-bars:hover
	{
		color: #24305e;
		background-color: #cae4db;
	}
	*/
	li 
	{
		flex-direction: row;
		padding: 15px; /*spaces out the elements*/
		color: #f1d1d6;
		text-decoration: none; /*get rid of underline*/
		width: 100%;
		background-color: #546a7b;
	}

	li:hover
	{
		background-color: #cae4db;
		color: #24305e;	
	}
	li a:hover,.active
	{
		color: #24305e;	

	}
	

} 

/*Classes*/
.column
{
	flex:50%;
	padding:10px;
	max-width: 400px;
}

.row
{
	display:flex;
}

.images
{
	display:flex;
	margin-left: auto;
	margin-right: auto;
}



/* IDs */
/*
#aboutMe
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #82a3d8;

}
*/
#intro
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*background-color: #82a3d8;*/
	align-content: center;
	max-width: 100%;
}
#robotics
{
	height: 500px;
	width: 500px;
	object-fit: cover;
	align-self: center;
}

#contactMe
{
	background-color: #95ff93;
}

#Navigation
{
	/*margin-left:0;
	width:100%;
	height: 100%;*/
	overflow: hidden;
	position: relative;
	background-color: #546a7b;
}


#notNavigation
{
	/*margin-top: 50px;*/
	align-content: center;
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: #ffffff
}

#pic
{
	height: 90%;
	width: 90%;
	object-fit: cover; /*crops to correct size*/
	transform: rotate(90deg);
	justify-content: center;
	align-items: center;
	display: flex;
}

#profile-image
{
	display:block;
	border-color: #f88379;
	border-width: 3px;
	max-width: 95%;
	height: auto;
	object-fit: cover;	
	margin: auto;
	justify-content: center;
	
}