<div class="icon_list_div">
  <ul class="social">
      <li class="list-inline-item"><a href="https://www.linkedin.com/in/allison-chen-576136147"><i class="fa fa-linkedin-square"></i></a></li>
      <li class="list-inline-item"><a href="https://github.com/allisonchen23"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      <li class="list-inline-item"><a href="mailto:ac4802@princeton.edu" target="_self"><i class="fa fa-envelope"></i></a></li>
      <li class="list-inline-item"><a href="https://www.instagram.com/allison_chen7"><i class="fa fa-instagram"></i></a></li>
      <li class="list-inline-item"><a href="https://twitter.com/allisonchen_227"><i class="fa fa-twitter"></i></a></li>
  </ul>
</div>