  <div id="photo_gal">
  {% for file in (site.static_files | sort) %}
    {% if file.path contains include.folder %}
      {% if file.extname == '.jpg' or 
        file.extname == '.jpeg' or 
        file.extname == '.JPG' or 
        file.extname == '.JPEG' %}
        
        {% assign filenameparts = file.path | split: "/" %}
        {% assign filename = filenameparts | last | replace: file.extname,"" %}
        <!-- {% assign num = filename | split: '-' | first %} -->
        <!-- {% capture is_num %} {{num | json}}{% endcapture %} -->
        {% if filename contains '-' %}
            {% assign caption = filename | replace: '_',' ' | split: "-" | last %}
    
            <div class="pic_and_cap">
                <img src="{{site.baseurl}}/{{file.path}}" alt="{{ filename }}" class="pic"/>
                <div class="cap">
                    <p class="caption">{{ caption }}</p>
                </div>
            </div>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>