<!--Navigation Bar-->
<div id="Navigation">
    <ul id="Navigation_UL">
        <div id="links">
            {% for nav in site.data.navigation %}
                {% if nav.nav_category == page.nav_category %}
                    <li class="hover_parent active"><a class="hover_child active_child" href="{{ nav.url | relative_url }}">{{ nav.title }}</a></li>
                {% else %}
                    <li class="hover_parent"><a class="hover_child" href="{{ nav.url | relative_url }}">{{ nav.title }}</a></li>
                {% endif %}
            {% endfor %}
        </div>
    </ul>
    <a href="javascript:void(0)" class="icon" onclick="expandContract()">
        <i class="fa fa-bars fa-3x"></i>
    </a>
</div>
<script>
    function expandContract()
    {
        var x=document.getElementById("links");
        if (x.style.display=="block")
        {
            x.style.display="none";
        }
        else
        {
            x.style.display="block";
            x.style.width="100%";
            x.style.height="100%";
        }
    }
</script>