<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Allison Chen</title>
        <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | relative_url }}">
        <link rel="stylesheet" type="text/css" href="{{ '/css/blog_homes.css' | relative_url }}">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    	<script src="https://use.fontawesome.com/a8517c4d4c.js"></script>
	</head>

	<body>
        {% include navigation.html %}
        <div id="notNavigation">
            <!--{% include back_button.html %}-->
            <div id="intro">
				<h2 class="blogpost title standOut">{{ page.title }}</h2>
			</div>
            {{ content }}
            <div class="row">
                <div class="column_2">
                        <h4 class="standOut centered_text underline_text list_title">Nutrition Posts</h4>
                    <ul class="list_posts">
                        {% for post in site.posts %}
                            {% if post.categories contains 'nutrition' %}
                                <li class="list_box">
                                    <a href = "{{ post.url | relative_url}}" id="post_link">
                                            <div class="list_item_food">
                                                <div class="title_text">{{post.title}}</div>
                                            </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div> <!--column_2-->
                <div class="column_2 left_border">
                    <h4 class="standOut centered_text underline_text list_title">Recipes</h4>
                    <ul class="list_posts">
                        {% assign sortedPosts = site.posts | sort: 'title' %}
                        {% for post in sortedPosts %}
                            {% if post.categories contains 'recipe' %}
                                <li class="list_box">
                                    <a href = "{{ post.url | relative_url}}" id="post_link">
                                        <div class="list_item_food">
                                            <div class="title_text">{{post.title}}</div>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div> <!--column_2-->
            </div> <!--row-->
		</div>
		{%include footer.html %}
	</body>
</html>