<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Allison Chen</title>
    	<link href= "{{ '/css/main.css' | relative_url }}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		{% if page.url == '/experience.html' %}
			<link href= "{{ '/css/experience.css' | relative_url }}" rel="stylesheet" type="text/css">
		{% endif %}
		{% if page.url == '/arts.html' %}
			<link href= "{{ '/css/arts.css' | relative_url }}" rel="stylesheet" type="text/css">
		{% endif %}
		{% if page.url == '/education.html' %}
			<link href= "{{ '/css/education.css' | relative_url }}" rel="stylesheet" type="text/css">
		{% endif %}
		<!-- <link rel="stylesheet" type="text/css" href="{{ '/css/blog_homes.css' | relative_url }}"> -->
    	<script src="https://use.fontawesome.com/a8517c4d4c.js"></script>
	</head>

	<body>
		{% include navigation.html %}
        <div id="notNavigation">
            <div id="intro">
				<h2 class="blogpost title standOut">{{ page.title }}</h2>
				<!-- <p>{{page.url}}</p> -->
			</div>
			{{ content }}
		</div>
		{%include footer.html %}
	</body>
</html>